body, html {
	font-family: 'Open Sans', sans-serif;
	background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5)), url(header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
	border-radius: 8px;
	font-weight: 400;
	width: 100% ;
	height: 100% ;
	margin: 0px;
	padding: 0px;
}
p {
	text-align: left;
	font-size: 20px;
	font-weight: 100;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
h1 {
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	margin: 0 0 10px 0;
	color: #65BBFA;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 36px;
	color: #333;
}
h3, h4 {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
	}ul, ol {
	list-style: none;
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}


.beranda {
	display: table;
	width: 100%;
}
.beranda .overlay {
	padding: 20px;
}
.overlay li{
	display: inline-block;
	list-style: none;
	margin-left: 35px; 
}
.overlay li a{
	color: #1B537C;
	display: block;
	float: left;
	font-size: 1.1em;
	text-transform: uppercase;
	text-decoration: none;
}
.overlay li title{
	color: #C0EA7F;
	display: block;
	float: left;
	font-size: 1.1em;
	text-transform: uppercase;
	text-decoration: none;
}
.overlay li a.active {
	color: #4DFFFF;
	text-shadow: 0px 0px 0px #000;
}
.overlay li a:hover {
	color: #4DFFFF;
	text-shadow: 0px 0px 0px #000;
}
.beranda h1 {
	color: #00E6E6;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -2px;
	margin-top: 0;
	margin-bottom: 100px;
	text-transform: uppercase;
}
.beranda p {
	color: #fff;
	font-size: 22px;
	margin-top: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}
.beranda .btn-custom {
	border-top: 1px solid rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
#about .btn {
	margin-top: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #6aaf08;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 20px;
	transition: all 0.3s;
	text-decoration: none;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #5f9d07;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
.button{
    width: 100%;
    height: 50px;
}
.right{
    float: left;
    font-size: 20px;
    display: block;
}
.left{
  	float: right;
  	font-size: 20px;
}
.title{
	float: left;
	font-size: 20px;
	display: inline-block;
	color: #6FB321;
}
.button ul a{
  padding: 0px;
  color: white;
  display: block;	
}

.tulisan{
 font-family: courier;
 font-weight: bold;
 text-align: center;
 font-size: 60px;
 color: rgb(255, 255, 255);
}
.paragraf{
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}
.paragraf li{
	text-align: left;
	margin-left: 300px;
}
.content{
    background:rgba(0, 0, 0, 0.137);
    width: 80%;
    padding: 70px;
    margin: 50px auto;
}
.footer{
    height:50px;
    line-height:50px;
    color:#fff;
    bottom:0px;
    width:100%;
}

.bton{
	border: 1px solid #52C0C3;
	background: none;
	padding: 10px 20px;
	font-size: 	20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;	
	overflow: hidden;
	width: 	200px;
	height: 60px;
	margin-left: 500px;
	border-radius: 15px;
	display: block;	
}

.bton1{
	color:#52C0C3;
}

.bton1:hover{
	color:#fff;
}

.bton::before{
	content: "";
	position: absolute;	
	left: 0;
	width: 100%;
	height: 0%;
	background:#52C0C3;
	z-index: -1;
	transition: 0.8s;
}

.bton1::before{
	top:0;
	border-radius: 0 0 50% 50%;
}

.bton1:hover::before{
	height: 100%;
}
.bubbels{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble{
  position: absolute;
  bottom: -100px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2){
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3){
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble:nth-child(4){
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 7s;
  animation-delay: 0s;
}

.bubble:nth-child(5){
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6){
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7){
  width: 25px;
  height: 25px;
  left: 75%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(8){
  width: 80px;
  height: 80px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(9){
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 9s;
  animation-delay: 0s;
}

.bubble:nth-child(10){
  width: 50px;
  height: 50px;
  left: 85%;
  animation-duration: 5s;
  animation-delay: 3s;
}

@keyframes flying {
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%{
    transform: translateX(100px);
  }
  100%{
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
